{% extends 'utility/common.html' %}

{% block content %}
<h3>고속 푸리에 분석</h3>

<div class="card my-3">
    <div class="card-body">

    <table class="table table-hover" id="table">
    <thead>
    <tr class="thead-dark">
        <th>할 수 있는 것</th>
        <th>코멘트</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>변수 선택</td>
            <td>
<form action="{% url 'utility:data_analysis_fft_analysis' %}" target="_blank" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <span>X축: </span>
        <select name="X">
            {%for col in data_column_list %}
            <option value={{col}}>{{col}}</option>
            {%endfor%}
        </select>
    <span>, Y축: </span>
        <select name="Y">
            {%for col in data_column_list %}
            <option value={{col}}>{{col}}</option>
            {%endfor%}
        </select>
    <span>, <label for="sampling_interval">Sampling Interval (T):</label>
<input type="number" step="any" name="sampling_interval" id="sampling_interval" required>
<span>단위: 초(x축이 시간이 아닌 경우, 인덱스 간격)</span></span>
        <input type="submit" value="그리기">
</form>
            </td>
    </tbody>
    </table>
    </div>
</div>

{{ plot_div }}

{% endblock content%}