<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- 반응형 웹을 위한 뷰포트 사용 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<div>이 메일은 발송용입니다.</div>
당신의 아이디는<br>
<li>"{{user_info.username}}"입니다.</li>
정보 재설정을 위해 아래 버튼을 눌러주세요~

<form action="{{to_url}}" method="GET">
    <input type="hidden" name="email_verification_code" value="{{email_verification_code}}">
    <input type="hidden" name="user_id" value="{{user_info.id}}">
    <input type="submit" value="{{user_info.username}} 정보 변경하기">
    <!-- 이메일에선 헤드 태그를 사용하지 못하는듯;;;? -->
</form>