<!--소셜로그인 기능 불러오기.-->
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}


{% static 'custom_account/social_login/naver_login.png' as naver_button %}
{% static 'custom_account/social_login/naver_login_hover.png' as naver_button_hover %}
<form method="post" action="/accounts/naver/login/">
    {% csrf_token %}
<!--    <input type="hidden" name="next" value="{{request.path}}"> 이걸 쓰면 사용하던 페이지로 리다이렉트가 가능하지만, 메인페이지에서 social계정을 본계정으로 바꿔주어야 하기 때문에 본 페이지로 이동시킨다.-->
    <center>
    <button type="submit" class="btn btn-light">
              <img src="{{ naver_button }}"
                 onmouseover="this.src='{{ naver_button_hover }}'"
                 onmouseleave="this.src='{{ naver_button }}'"height="34">
    </button></center>
</form>

{% static 'custom_account/social_login/kakao_login.png' as kakao_button %}
{% static 'custom_account/social_login/kakao_login_hover.png' as kakao_button_hover %}
<form method="post" action="/accounts/kakao/login/">
    {% csrf_token %}
    <center>
    <button type="submit" class="btn btn-light">
              <img src="{{ kakao_button }}"
                 onmouseover="this.src='{{ kakao_button_hover }}'"
                 onmouseleave="this.src='{{ kakao_button }}'"height="34">
    </button></center>
</form>



{% static 'custom_account/social_login/google_login.png' as google_button %}
{% static 'custom_account/social_login/google_login_hover.png' as google_button_hover %}
<form method="post" action="/accounts/google/login/">
    {% csrf_token %}
    <center>
    <button type="submit" class="btn btn-light">
              <img src="{{ google_button }}"
                 onmouseover="this.src='{{ google_button_hover }}'"
                 onmouseleave="this.src='{{ google_button }}'"height="34">
    </button></center>
</form>


{% static 'custom_account/social_login/facebook_login.png' as facebook_button %}
{% static 'custom_account/social_login/facebook_login_hover.png' as facebook_button_hover %}
<form method="post" action="/accounts/facebook/login/">
    {% csrf_token %}
    <center>
    <button type="submit" class="btn btn-light">
              <img src="{{ facebook_button }}"
                 onmouseover="this.src='{{ facebook_button_hover }}'"
                 onmouseleave="this.src='{{ facebook_button }}'"height="34">
    </button></center>
</form>

2022.12 기준 인스타그램은 로그인용으로 사용할 수 없다고 못박아둠.

<!--  프로바이더의 순서는 settings에 지정한 순서인 듯하다.  -->
