{% extends 'custom_account/section.html' %}

{% block content %}


{% for account in social_accounts %}
    {{ account }}
    get_avatar_url. {{account.get_avatar_url}}
    제공자. {{ account.provider }}
    get_deferred_fields. {{ account.get_deferred_fields }}
    get_profile_url. {{ account.get_profile_url }}
    get_provider_account. {{ account.get_provider_account }}
    get_provider_display. {{ account.get_provider_display }}
    id. {{ account.id }}
{% endfor %}

<div>
    본계정 : {{ user.username}}
    <a>본계정 비밀번호 바꾸기.</a>
</div>

<div>
이메일 : {{user.email}}
{% if user.email_check %}
{% else %}
{{user.email}}. 이메일 인증이 안되어 있습니다.
<a href="{% url 'custom_account:send_email_verify_code' %}">인증코드 보내기</a>
{% endif %}
</div>

{% endblock %}