{% extends 'custom_account/section.html' %}

{% block content %}


연결된 계정<br>
{% for account in social_account_info %}
        get_provider_display : {{ account.0 }}<br>
        get_provider_account : {{ account.1 }}<br><br>
{% endfor %}

<div>
    본계정 : {{ user.username}}
    <a href="{% url 'custom_account:password_find' %}">회원정보 변경.</a>
</div>

<div>
이메일 : {{user.email}}
{% if user.email_check %}
    (인증됨)
{% else %}
    이메일 인증이 안되어 있습니다. 회원정보 변경, 아이디 확인 등에 활용되니, 정확히 입력해주세요.
    <a href="{% url 'custom_account:send_email_verify_code' %}">인증코드 보내기</a>
{% endif %}
</div>

<a href="{% url 'custom_account:OAuth_client_list' %}" class="btn btn-outline-primary">
  OAuth 2.0 설정
</a>


{% endblock %}