{% extends "base.html" %}
{% load i18n %}

{% block content %}

소셜 로그인 중 인증 오류가 발생했을 때 렌더링되는 템플릿입니다. 예를 들어, 세션 쿠키 누락으로 인해 state 값 검증에 실패한 경우 이 템플릿이 사용됩니다.
  <h2>다시 로그인을 시도해주세요.</h2>
  <p>{% trans "There was an error while trying to authenticate. Please try again." %}</p>
  <meta http-equiv="refresh" content="2;url={% url 'account_login' %}" />
  <p>\templates\socialaccount\socialaccount 탬플릿. 주소는 /accounts/naver/login/callback/? 경로에서 발생.</p>



{% include "custom_account/login_social_body.html" %}




{% endblock %}