<div class="container">
        <form id="searchForm" method="get" action="#"> <!--주소는 #으로 해주어야 디테일화면이나 다른 곳에서도 리스트를 유지할 수 있다. 링크를 줘버리면.. 리스트에서밖에 못써먹어.-->
        <div class="input-group mb-3">
        <div class="input-group-append">
            <input type="text" class="form-control" name="keyword" placeholder="여따 검색하쇼" value="{{ keyword|default_if_none:'' }}">
            <input class="btn btn-outline-secondary" type="submit" id="btn_search" value="검색">
        </div>
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
        </div>


    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        {% if board_list %}
        {% for board in board_list %}
        <tr>
            <td>
                <a href="{% url 'scientific_humor:board_detail' board.id %}" class="to_detail">{{ board.board_name }} {{ board.enter_year }}</a>
            </td>
            <td>{{ board.author.nickname }}</td>

        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>


<ui class="pagination justify-content-center">
{% if board_list.has_previous %}
<li class="page-item">
<a class="page-link" data-page="1" href="#">처음</a></li>
<li class="page-item">
<a class="page-link" data-page="{{ board_list.previous_page_number }}" href="#">이전</a></li>
{% endif %}

{% for page_number in page_list %} <!--뷰에서 해당 번호 앞뒤로 페이지리스트를 보냄-->
    {% if page_number == board_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
    {% endif %}
{% endfor %}

{% if board_list.has_next %}
<li class="page-item">
<a class="page-link" data-page="{{ board_list.next_page_number }}" href="#">다음</a></li>
<li class="page-item">
<a class="page-link" data-page="{{ board_list.paginator.num_pages }}" href="#">끝</a></li>

{% endif %}
</ui>
<a href="{% url 'scientific_humor:board_create' %}" class="btn btn-primary">등록</a>
</div>



<!--페이지 버튼을 누르면 페이지 정보와 함께 검색폼의 내용도 제출되게끔.-->
<!--searchForm 안의 hidden으로 page를 넣는다. -->
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {    // page-link 클래스를 가진 버튼이 클릭되면
        $("#page").val($(this).data("page"));   // 해당 값을 page에 담고.
        $("#searchForm").submit();              // searchForm 안의 페이지에 담아 제출한다.
    });
// 검색버튼 클릭할 경우, 페이지번호를 받지 못하므로, 값을 넣어주어야 한다.
    $("#btn_search").on('click', function() {
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
// 게시글을 클릭할 경우, 페이지번호를 받지 못하므로, 값을 넣어주어야 한다.
    $(".to_detail").on('click', function() {
        $("#searchForm").submit();
    });
});
</script>
