{% extends 'scientific_humor/section.html' %}


{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ board.school }} {{ board.enter_year }}</h2>


    <div class="card my-3">
        <div class="card-body">
        <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>추천수</th>
        </tr>
        </thead>
        <tbody>
        {% load posting_filter %}
        {% if posting_list %}
        {% for posting in posting_list %}
        <tr>
            <td>
                <a href="{% url 'scientific_humor:school_posting_detail' posting.id %}" class="to_detail">{{ posting.subject }}</a>
                <a>{{posting.comment_sum}}</a>
            </td>
            <td>{{ posting.author.nickname }}</td>
            <td>{{ posting.create_date }}</td>
            <td><a href="{% url 'scientific_humor:posting_like' posting.id %}">{{ posting.like_count|sub:posting.dislike_count }} </a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
    <a href="{% url 'scientific_humor:school_posting_create' board.id %}" class="btn btn-primary">학교 관련글 등록</a>
            <div>첫번째 질문</div>
            {% for comment in board.first_question.all %}
            <div>{{ comment.content }}</div>
            {% endfor %}

            <div>두번째 질문</div>
            {% for comment in board.second_question.all %}
            <div>{{ comment.content }}</div>
            {% endfor %}
        </div>
    </div>
</div>


{% include "scientific_humor/board_list_show.html" %}
{% endblock content %}
</div>
