<div class="container">
        <form id="searchForm" method="get" action="#"> <!--주소는 #으로 해주어야 디테일화면이나 다른 곳에서도 리스트를 유지할 수 있다. 링크를 줘버리면.. 리스트에서밖에 못써먹어.-->
        <div class="input-group mb-3">
            <div class="col-2">
            <select class="form-control" name="ordering">
            <option value="recent" {% if ordering == 'recent' %}selected{% endif %}>시간순</option>
            <option value="recommend" {% if ordering == 'recommend' %}selected{% endif %}>추천순</option>
            <option value="popular" {% if ordering == 'popular' %}selected{% endif %}>댓글순</option>
            <option value="student_code" {% if ordering == 'student_code' %}selected{% endif %}>학번순</option>
            </select>
            </div>
                <div class="form-check form-check-inline" data-bs-toggle="tooltip" title="같은 학교 학생의 문제만 봅니다.">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="school" name="school">
                  <label class="form-check-label" for="inlineCheckbox1" >우리학교</label>
                </div>
                <div class="form-check form-check-inline" data-bs-toggle="tooltip" title="같은 학년의 문제만 봅니다.">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="grade" name="grade">
                  <label class="form-check-label" for="inlineCheckbox2">같은학년</label>
                </div>
            <input type='date' name='start' placeholder="시작" {% if start %}value={{start}}{% endif %}>
            <input type='date' name='end' placeholder="끝" {% if end %}value={{end}}{% endif %}>
        <div class="input-group-append">
        <input type="text" class="form-control" name="keyword" placeholder="여따 검색하쇼" value="{{ keyword|default_if_none:'' }}">
        <input class="btn btn-outline-secondary" type="submit" id="btn_search" value="검색">
        </div>
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
        </div>


    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>제목</th>
            <th>작성자</th>
            {% if ordering == 'student_code' %}<th>학번</th>{% endif %}
            <th>작성일시</th>
            <th>추천수</th>
        </tr>
        </thead>
        <tbody>
        {% load posting_filter %}
        {% if posting_list %}
        {% for posting in posting_list %}
        <tr>
            <td>
                <a href="{% url 'scientific_humor:detail' posting.id %}" class="to_detail">{{ posting.subject }}</a>
                <a>{{posting.comment_sum}}</a>
            </td>
            <td>{{ posting.author.nickname }}</td>
            {% if ordering == 'student_code' %} <th>{{ posting.profile }}</th> {% endif %}
            <td>{{ posting.create_date }}</td>
            <td><a href="{% url 'scientific_humor:posting_like' posting.id %}">{{ posting.like_count|sub:posting.dislike_count }} </a></td>

        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>


<ui class="pagination justify-content-center">
{% if posting_list.has_previous %}
<li class="page-item">
<a class="page-link" data-page="1" href="#">처음</a></li>
<li class="page-item">
<a class="page-link" data-page="{{ posting_list.previous_page_number }}" href="#">이전</a></li>
{% endif %}

{% for page_number in page_list %} <!--뷰에서 해당 번호 앞뒤로 페이지리스트를 보냄-->
    {% if page_number == posting_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
    {% endif %}
{% endfor %}

{% if posting_list.has_next %}
<li class="page-item">
<a class="page-link" data-page="{{ posting_list.next_page_number }}" href="#">다음</a></li>
<li class="page-item">
<a class="page-link" data-page="{{ posting_list.paginator.num_pages }}" href="#">끝</a></li>

{% endif %}
</ui>
<a href="{% url 'scientific_humor:create' %}" class="btn btn-primary">등록</a>
</div>



<!--페이지 버튼을 누르면 페이지 정보와 함께 검색폼의 내용도 제출되게끔.-->
<!--searchForm 안의 hidden으로 page를 넣는다. -->
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {    // page-link 클래스를 가진 버튼이 클릭되면
        $("#page").val($(this).data("page"));   // 해당 값을 page에 담고.
        $("#searchForm").submit();              // searchForm 안의 페이지에 담아 제출한다.
    });
// 검색버튼 클릭할 경우, 페이지번호를 받지 못하므로, 값을 넣어주어야 한다.
    $("#btn_search").on('click', function() {
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
// 게시글을 클릭할 경우, 페이지번호를 받지 못하므로, 값을 넣어주어야 한다.
    $(".to_detail").on('click', function() {
        $("#searchForm").submit();
    });
});
</script>
