<!--{# include "df/df_body_fit_frame.html" with dataframe=data_list #} 요 형태로 가져온다.-->

<!--표를 곧바로 엑셀로 다운받을 수 있게 하려구.-->
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/FileSaver/FileSaver.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script>
$(function(){
    $("#download").click(function(){
        $("#myTable").tableExport({
            type: "xlsx",    // 사용할 수 있는 형식들 (예: "xlsx","txt", "csv", "xls")
            bootstrap: true,
            fileName: "table",    // 파일 이름
            position: "bottom",   // 버튼 위치 (top, bottom)
            ignoreRows: null,     // 무시할 행의 인덱스 (0 이상)
            ignoreCols: null,     // 무시할 열의 인덱스 (0 이상)
            ignoreCSS: ".tableexport-ignore"    // 무시할 CSS 클래스
        });
    });
});
</script>
<button id="download">아래 표 엑셀로 다운로드 하기!</button>
<!--여기까지 엑셀 관련.-->

<!--엑셀 다운로드를 위해선 id 설정을 해줘야 함. 함부러 지우지 말기~-->
<table class="table table-striped table-bordered table-hover" id="myTable">
  <thead>
    <tr class="table-info">
      {% for column_name in dataframe.0 %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in dataframe %}
    <tr>
      {% for value in row.values %}
      <td>{{ value|linebreaksbr|safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>