<!--{# include "df/df_body_fit_frame.html" with dataframe=data_list #} 요 형태로 가져온다.-->

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr class="table-info">
      <th>선택</th>
      {% for column_name in columns %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for pk, row in dataframe %}
    <tr>
      <td>
      <input type="radio" name="pk_checks" value="{{pk}}" id="{{pk}}">
      </td>
      {% for value in row.values %}
      <td><label for="{{pk}}">
        {{ value|linebreaksbr|safe }}</label></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

