{% extends 'utility/common.html' %}

{% block content %}

<form method="post"  enctype="multipart/form-data" class="post-form my-3">
{% csrf_token %}

    <div class="form-group">
        번역할 언어
        <select name="original_language">
            {% for code, language in language_list.items %}
        <option value="{{code}}" {%if code == original_language %}selected{%endif%}>{{language}}</option>
            {%endfor%}</select>

         -> 번역될 언어
        <select name="translated_language">
            {% for code, language in language_list.items %}
        <option value="{{code}}" {%if code == translated_language %}selected{%endif%}>{{language}}</option>
            {%endfor%}</select>
        <br>

        <label><h4>번역할 텍스트</h4></label>
    <input type="text" class="form-control" name="original_text" id="original_text"
                       value="{{ original_text|default_if_none:'' }}" placeholder="번역하고 싶은 텍스트를 입력하세요~">

    <input type="submit" class="btn btn-primary" value='번역'>
    </div>
</form>

<h4>번역결과</h4>
<div>{{ translated_text }}</div>

{% endblock content%}