{% extends 'item_pool/section.html' %}

{% block content %}

{% if question %}
<h3 class="mt-4 pb-2 border-bottom">문제 기초자료</h3>
    <h5 class="mt-4 pb-2 border-bottom">이미지</h5>
<form>
{% include "WYSIWYG/image_upload_by_ajax_common_script.html" %}

{% for slot in ImageSlot %}
    {% url 'item_pool:image_upload' question.id slot.0 as image_upload_url %}
    {% with input_id="image_file_"|add:slot.0 upload_url=image_upload_url %}
<a class="btn btn-outline-primary" href="#"
   onclick='insertAtCursor("<img src=\"{{ slot.1 }}\" style=\"max-width:80%;\"  class=\"img-fluid d-block mx-auto\" alt=\"이미지 {{ slot.0 }}\">"); return false;'>
    다음 이미지를 현재 커서 위치에 삽입</a>
        {% include "WYSIWYG/image_upload_by_ajax.html" %}
    {% endwith %}

{% endfor %}
</form>
{% else %}<p>이미지 등 기초자료는 문제 생성 후, 수정할 때에만 넣을 수 있습니다.</p>
{% endif %}


<form method="post" enctype="multipart/form-data" class="post-form my-3" >
        {% csrf_token %}

<!---에러처리------------------------------------------------------------------------------------->
{% if form.errors %}
<div class="alert alert-danger" role="alert">
{% for field in form %}<!--모든 필드를 뒤지며 에러를 찾는다.-->
{% if field.errors %}
<strong>{{ field.label }}</strong><!--에러가 난 필드의 라벨에 굵음 처리-->
{{ field.errors }}<!--어떤 에러인지 보여준다.-->
{% endif %}
{% endfor %}
</div>
{% endif %}



    <h3 class="mt-4 pb-2 border-bottom">문제</h3>

<!--폼 처리-->
<form method="post">
    <div class="d-flex align-items-center mb-3">
    <label for="subject" class="me-2 mb-0 fw-bold">제목</label>
  <input type="text" class="form-control" name="subject" id="subject" placeholder="문제의 제목은?"
         value="{{ form.subject.value|default_if_none:'' }}" style="max-width: 400px;">
    </div>
{% include "WYSIWYG/equation_editor.html" with title="문제 내용." content=form.content.value|default_if_none:'' name="content" placeholder="여기에 문제 세부내용을 써주세요." %}




<h3 class="mt-4 pb-2 border-bottom">해설</h3>
        <p>해설은 GUESS. 주목방풀해 형태로 작성합니다.</p>
{% include "WYSIWYG/equation_editor_common_script.html" %}

{% include "WYSIWYG/equation_editor.html" with content=form.givens.value|default_if_none:'' title="Given. 주어진 것." name="givens" placeholder="문제의 조건." %}
{% include "WYSIWYG/equation_editor.html" with title="Unknowns. 목표." content=form.unknowns.value|default_if_none:'' name="unknowns" placeholder="문제의 목표." %}
{% include "WYSIWYG/equation_editor.html" with title="Equations. 방정식." content=form.equations.value|default_if_none:'' name="equations" placeholder="문제에서 사용할 수 있는 방정식." %}
{% include "WYSIWYG/equation_editor.html" with title="Substitution. 풀이." content=form.substitution.value|default_if_none:'' name="substitution" placeholder="방정식에 적절한 값 대입." %}
{% include "WYSIWYG/equation_editor.html" with title="Solution. 해답. 풀이.(공백 없이 , # @ 로 구분)" content=form.solution.value|default_if_none:'' name="solution" placeholder="정답으로 인정할 것들." %}


<input type="submit" value="등록" class="btn btn-outline-primary me-2" />
</form>








{% endblock %}