{% extends 'item_pool/section.html' %}

{% block content %}
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

{% if user.schoolprofile %}
{% else %}
<div class="alert alert-danger">
    <h1><strong>프로필을 등록해야 글을 쓸 수 있습니다.</strong></h1>
</div>
{% endif %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>

<form method="post" enctype="multipart/form-data" class="post-form my-3" >
        {% csrf_token %}

<!---에러처리------------------------------------------------------------------------------------->
{% if form.errors %}
<div class="alert alert-danger" role="alert">
{% for field in form %}<!--모든 필드를 뒤지며 에러를 찾는다.-->
{% if field.errors %}
<strong>{{ field.label }}</strong><!--에러가 난 필드의 라벨에 굵음 처리-->
{{ field.errors }}<!--어떤 에러인지 보여준다.-->
{% endif %}
{% endfor %}
</div>
{% endif %}

<!--폼 처리-->
<form method="post">
    <div class="form-group">
        <label for="subject">제목</label>
    <input type="text" class="form-control" name="subject" id="subject"
                       value="{{ form.subject.value|default_if_none:'' }}">

        <label>문제</label>
    <textarea class="form-control" name="content" id="summernote">
        {{ form.content.value|default_if_none:'여기에 문제 세부내용을 써주세요. 이미지 업로드 제한용량은 2MB입니다~' }}</textarea>

            <label for="rightAnswer">정답</label>
    <input type="text" class="form-control" name="rightAnswer" id="rightAnswer" placeholder="10글자 이하로 간결하게. 대소문자 구분합니다."
                       value="{{ form.rightAnswer.value|default_if_none:'' }}">

        <label>해답</label>
    <textarea class="form-control" name="solution" id="summernote_solution">
        {{ form.solution.value|default_if_none:'여기엔 해설을 써주세요' }}</textarea>

    </div>
    <input type="submit" value='등록'>
</form>

    <script>
      $('#summernote').summernote({
        placeholder: '여기에 내용 입력하세요~ 그림파일 용량은 2MB까지입니다~',
        tabsize: 2,
        height: 300, // 에디터 높이
        defaultFontName: '바탕',
        toolbar: [
  ['style', ['style']],
  ['fontname', ['fontname']],
  ['fontsize', ['fontsize']],
  ['font style', ['bold', 'italic', 'underline','strikethrough', 'clear','superscript', 'subscript',]],
  ['color', ['forecolor','color']],
  ['para', ['ul', 'ol', 'paragraph']],
  ['table', ['table']],
  ['insert', ['link', 'picture', 'video']],
  ['view', ['fullscreen', 'codeview', 'help']],
],
    defaultFontName:'바탕',
    fontNames: ['Arial', 'Comic Sans MS','맑은 고딕','궁서','굴림','돋음체','바탕'],
    fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
    maximumImageFileSize:2097152,

  popover: {
                  image: [
                    ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                  ],
                  link: [
                    ['link', ['linkDialogShow', 'unlink']]
                  ],
                  table: [
                    ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                    ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
                  ],
                  air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']]
                  ]
                }
      });
$('.dropdown-toggle').dropdown()
    </script>
        <script>
      $('#summernote_solution').summernote({
        placeholder: '여기에 내용 입력하세요~ 그림파일 용량은 2MB까지입니다~',
        tabsize: 2,
        height: 300, // 에디터 높이
        defaultFontName: '바탕',
        toolbar: [
  ['style', ['style']],
  ['fontname', ['fontname']],
  ['fontsize', ['fontsize']],
  ['font style', ['bold', 'italic', 'underline','strikethrough', 'clear','superscript', 'subscript',]],
  ['color', ['forecolor','color']],
  ['para', ['ul', 'ol', 'paragraph']],
  ['table', ['table']],
  ['insert', ['link', 'picture', 'video']],
  ['view', ['fullscreen', 'codeview', 'help']],
],
    defaultFontName:'바탕',
    fontNames: ['Arial', 'Comic Sans MS','맑은 고딕','궁서','굴림','돋음체','바탕'],
    fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
    maximumImageFileSize:2097152,

  popover: {
                  image: [
                    ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                  ],
                  link: [
                    ['link', ['linkDialogShow', 'unlink']]
                  ],
                  table: [
                    ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                    ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
                  ],
                  air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']]
                  ]
                }
      });
$('.dropdown-toggle').dropdown()
    </script><!--이상하게 2중 입력기가 안되서 따로 똑같이 만들었다. -->


{% endblock %}