{% extends 'item_pool/section.html' %}

{% block content %}
{% if user.schoolprofile %}
{% else %}
<div class="alert alert-danger">
    <h1><strong>프로필을 등록해야 글을 쓸 수 있습니다.</strong></h1>
</div>
{% endif %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">문제</h5>

<form method="post" enctype="multipart/form-data" class="post-form my-3" >
        {% csrf_token %}

<!---에러처리------------------------------------------------------------------------------------->
{% if form.errors %}
<div class="alert alert-danger" role="alert">
{% for field in form %}<!--모든 필드를 뒤지며 에러를 찾는다.-->
{% if field.errors %}
<strong>{{ field.label }}</strong><!--에러가 난 필드의 라벨에 굵음 처리-->
{{ field.errors }}<!--어떤 에러인지 보여준다.-->
{% endif %}
{% endfor %}
</div>
{% endif %}


<!--폼 처리-->
<form method="post">
    <div class="form-group">
        <label for="subject">제목</label>
    <input type="text" class="form-control" name="subject" id="subject" placeholder="문제의 제목은?"
                       value="{{ form.subject.value|default_if_none:'' }}">

        <textarea class="form-control" name="content" id="summernote"
    placeholder="여기에 문제 세부내용을 써주세요. 이미지 업로드 제한용량은 2MB입니다~">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>

    </div>

    <h2>해설</h2>
        <p>해설은 GUESS. 주목방풀해 형태로 작성합니다.</p>
{% include "WYSIWYG/equation_editor_common_script.html" %}

{% include "WYSIWYG/equation_editor.html" with content=form.givens.value|default_if_none:'' title="Given. 주어진 것." name="givens" %}
{% include "WYSIWYG/equation_editor.html" with title="Unknowns. 목표." content=form.unknowns.value|default_if_none:'' name="unknowns" %}




<!--            <label for="givens">Given. 주어진 것.</label>-->
<!--              <textarea class="form-control" name="givens" id="givens" rows="3"-->
<!--              placeholder="예: \frac{1}{2}mv^2 = mgh">{{ form.givens.value|default_if_none:'' }}</textarea>-->
<!--          </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-12">-->
<!--            <div class="col-md-6 col-12">-->
<!--                <label for="givens-preview">시각적 수식 편집기</label>-->
<!--                <math-field id="givens-preview" class="border rounded p-2" style="width: 100%; min-height: 50px;"></math-field>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <label for="unknowns">Unknowns. 목표.</label>-->
<!--            <input type="text" class="form-control" name="unknowns" id="unknowns" placeholder="문제의 목표"-->
<!--                               value="{{ form.unknowns.value|default_if_none:'' }}">-->
<!--        <label for="equations">Equations. 방정식.</label>-->
<!--            <input type="text" class="form-control" name="equations" id="equations" placeholder="문제에서 사용할 수 있는 방정식"-->
<!--                               value="{{ form.equations.value|default_if_none:'' }}">-->
<!--        <label for="substitution">Substitution. 풀이.</label>-->
<!--            <input type="text" class="form-control" name="substitution" id="substitution" placeholder="방정식에 적절한 값 대입"-->
<!--                               value="{{ form.substitution.value|default_if_none:'' }}">-->
<!--        <label for="solution">Solution. 해답.</label>-->
<!--            <input type="text" class="form-control" name="solution" id="solution" placeholder="정답으로 인정할 것들"-->
<!--                               value="{{ form.solution.value|default_if_none:'' }}">-->

<!--    아래는.. 곧 없앨 것.    -->
<!--        <label>해답</label>-->
<!--    <textarea class="form-control" name="solution" id="summernote_solution">-->
<!--        {{ form.solution.value|default_if_none:'여기엔 해설을 써주세요' }}</textarea>-->


    <input type="submit" value='등록'>
</form>



{% include "item_pool/test_math.html" %}












{% endblock %}





