<h5 class="my-3 border-bottom pb-2">시험 등록</h5>
작성 후 수정이 불가능하니 신중하게 작성해주세요.<br>
잘못된 정보, 잘못된 방식으로 기입시 불이익을 받을 수 있습니다.
<!--------폼 처리-->
<form method="post"  enctype="multipart/form-data" class="post-form my-3">
{% csrf_token %}

    <div class="form-group">
        <label>시험명</label> ex)2학년2학기1회고사
    <input type="text" class="form-control" name="board_name" id="board_name"
                       value="{{ form.board_name.value|default_if_none:'' }}" placeholder="대회의 정식명칭을 띄어쓰기 없이.">
        <label>주관단체</label> ex)원주중학교
    <input type="text" class="form-control" name="school" id="school"
                       value="{{ form.school.value|default_if_none:'' }}" placeholder="대회를 주관하는 단체의 정식명을 정확하게 써주세요~">
        <label>개최년도</label> ex)2022
    <input type="text" class="form-control" name="enter_year" id="enter_year"
                       value="{{ form.enter_year.value|default_if_none:'' }}" placeholder="대회가 열리는 연도를 써주세요~(숫자만)">

    <input type="submit" class="btn btn-primary" value='등록'>
    </div>
</form>

