<table class="table table-hover" id="board_table">
    <thead>
    <tr class="table-info">
        <th>주관기관</th><th>시험명</th>
        <th>관심</th>
        <th>작성자</th>
        <th>공식체크여부</th>
    </tr>
    </thead>
    <tbody>
    {% if board_list %}
    {% for board in board_list %}
    <tr>
        <td><a href="{% url 'boards:board_detail' board.id %}" {% include "custom_account/login_modal_in_html.html" %}>
            {{ board.school }}</a></td>
        <td>
            <a href="{% url 'boards:board_detail' board.id %}" {% include "custom_account/login_modal_in_html.html" %}>
            {{ board.board_name }}</a>
            <span>{{ board.posting_set.all.count }}</span>
        </td>
        <td>{{ board.interest_count }}</td>
        <td>{{ board.author.nickname }}</td>
        <td>{%if board.official_check%}공식{%else%}X{%endif%}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<a {% include "custom_account/login_modal_in_html.html" %}
href="{% url 'boards:board_create' category.id %}" class="btn btn-outline-info">
시험 등록</a>


