{% if exam_profile.score_set.exists %}

    <table class="table table-hover" id="score_table">
    <thead>
    <tr class="thead-dark">
        <th>과목</th>
        <th>내 점수</th>
        <th>실제 점수</th>
        <th>내 답안 보기</th>
    </tr>
    </thead>
    <tbody>
    {% for score in exam_profile.score_set.all %}
    <tr>
        <td>
            제 {{forloop.counter}}과목 : {{score.base_subject}}
        </td>
        <td>{{score.score}}</td>
        <td>{{score.real_score}}</td>
        <td>{%if score.answer%}
            <a href="{% url 'boards:show_answer' score.id %}">보기</a>{%else%}
            등록안됨{%endif%}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

{% if board.official_check %}
공식 점수가 등록되었습니다. 점수 등록자 : {{board.official_teacher}}

{% elif exam_profile.score_set.exists %}

시험점수 공유함. {{exam_profile.modify_num}}회 수정함.
<a href="{% url 'boards:subject_register' board.id %}"
   class="btn btn-outline-info">시험점수 수정</a>

{% else %}



아직 시험점수를 등록하지 않았습니다.
<a href="{% url 'boards:subject_register' board.id %}"
   class="btn btn-outline-info">나의 시험점수 공유</a>
{% endif %}


<a href="{% url 'boards:exam_result' board.id %}">시험 통계 보기</a>