<!-- 등록화면으로 리다이렉팅 해서 해당 학교 교사라면 누구라도 입력할 수 있게 바꾸면 좋겠다. 점수 등록자가 누군지도 남기고. -->
{% if teacher %}
<div class="card my-3">
    <div class="card-body">

<h6>관리자 메뉴.</h6>

<div class="card my-3">
    <div class="card-body">
<a href="{% url 'boards:subject_download_excel_form' board.id  %}">점수만 올릴 양식 다운받기.</a>
<br>점수만 입력하기.
<form action="{% url 'boards:subject_upload_excel_form' board.id %}" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <input type="submit" value="점수 양식 올리기">
</form>

<h4 class="border-bottom py-2">개별응답 올리기</h4>
<table class="table table-hover" id="score_table">
    <thead>
    <tr class="thead-dark">
        <th>과목</th>
        <th>점수등록자</th>
        <th>양식다운</th>
        <th>양식제출</th>
    </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
    <tr>
        <td>
            제 {{forloop.counter}}과목 : {{subject.name}}
            {%if subject.base_exam.official_check%}<a href="{%url 'boards:show_answer_for_teacher' subject.id%}">응답보기</a>{%endif%}
        </td>
        <td>{{subject.score_set.count}}명</td>
        <td><a href="{%url 'boards:subject_answer_info_form_download' subject.id %}">다운</a></td>
        <td>
            <form action="{% url 'boards:subject_answer_info_form_upload' subject.id %}" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploadedFile">
            {% csrf_token %}
            <input type="submit" value="파일 올리기">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>

    </div>
</div>
{%endif%}