{% extends "boards/score/section.html" %}

{% block content %}
<script>
let count = 1;
    const add_textbox = () => {
        const box = document.getElementById("box");
        const newP = document.createElement('p');
        newP.innerHTML = "추가 " + count + "과목 : <input type='text' placeholder='과목명' name='subject'>" + "  과목코드 : <input type='text' placeholder='과목코드' name='sj_code'>";
        box.appendChild(newP);
        count += 1
    }
    const remove = (obj) => {
        document.getElementById('box').removeChild(obj.parentNode);
    }
</script>





<form method="post" enctype="multipart/form-data" class="post-form my-3" onsubmit="return confirm('제출합니까? 허위작성 시 불이익을 받을 수 있습니다.')">
    {% csrf_token %}
    <div class="form-group">

        <div class="container">
간단한 작업이고, 혼란을 방지하기 위해 실수 없이 작성하시기 바랍니다.
            {% if subjects %}
<table class="table table-hover" id="posting_table">
    <thead>
    <tr class="thead-dark">
        <th>과목</th>
        <th>과목코드</th>
    </tr>
    </thead>
    <tbody>
    {% for posting in subjects %}
    <tr>
        <td><input type='text' class="form-control" placeholder='과목명' name='subject' value="{{ posting.name }}" readonly></td>
        <td><input type='text' placeholder='과목코드' name='sj_code' value="{{ posting.sj_code }}"></td>
    </tr>
    {% endfor %}
    </tbody>
</table> {% endif %}
        <div id="box" name="box">
            <input type="button" class="btn btn-outline-info btn-sm" value="입력칸 추가" onclick="add_textbox()">
        </div>

    </div>
    <input type="submit" class="btn btn-primary submit" value='등록'>
</form>
</div>


{% endblock content%}