{% extends 'utility/common.html' %}

{% block content %}

<form action="{% url 'utility:wordcloud_create' %}" method="post" enctype="multipart/form-data" class="post-form my-3">
{% csrf_token %}

    <div class="form-group">
        <label><h4>분석할 텍스트</h4></label>
    <input type="text" class="form-control" name="text" id="text" size="100"
                       value="{{ text|default_if_none:'' }}" placeholder="텍스트를 복사해 넣으세요~">
    <input type="file" name="base_image">
    <input type="radio" name="mask" value="image1">그림
        <input type="radio" name="mask" value="image2">그림2
    <input type="submit" class="btn btn-primary" value='제작'>
    </div>
</form>

{% if cloud_image %}
<img src="{{cloud_image}}">
이미지있음.

{%endif%}

{% endblock content%}