<div class="mb-3">

  <div id="{{ preview_id|default:input_id|add:'_preview' }}">
    {% if slot.1 %}
      <img src={{slot.1}}
           style="max-width:200px;"
           alt="이미지 {{ slot.0 }}">
    {% endif %}
  </div>
  <input type="file"
         id="{{ input_id }}"
         name="{{ input_name|default:input_id }}"
         accept="image/*"
         class="btn btn-outline-dark ajax-image-input"
         data-preview-id="{{ preview_id|default:input_id|add:'_preview' }}"
         data-upload-url="{{ upload_url }}">

  <button type="button"
          id="{{ input_id }}_submit"
          class="btn btn-outline-success ajax-image-submit"
          data-input-id="{{ input_id }}">
    업로드
  </button>


</div>