<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{% url 'main:show' %}">지난지난이</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">??????????????</span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'main:about' %}">about</a>
            </li>
            <!-- 과학유머게시판 번호가 4번. -->
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'boards:humor_list' 4 %}">과학드립</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'boards:school_board_list' %}">학교 입시정보</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'boards:contest_list' 1 %}">대회정보</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'boards:report_list' 23 %}">건의,제보</a>
            </li>

            <!--로그인, 로그아웃 기능-->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.nickname }}
              </a>
                {% load custom_tags %}
                {% show_notifications %}
            </li>
<script>
$('.dropdown-toggle').dropdown()
</script>

            {% else %}
            <li class="nav-item "><a class="nav-link" href="{% url 'custom_account:login_social' %}" data-toggle="modal" data-target="#loginModal">로그인</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role='dialog' aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">로그인</h5>
      </div>
      <div class="modal-body">
        {% include "custom_account/login_social_body.html" %}
      </div>
      <div class="modal-footer">
          로그인 후엔 메인화면으로 이동합니다.
      </div>
    </div>
  </div>
</div>