{%extends "main/section.html"%}

{% block content %}
할 일 목록
<li>스프레드시트 통계 오류. 동료평가에선 하나의 답만 끌어와 전체 반응을 볼 수 없음.</li>
<li>동료평가 작성 시 체크박스 전체선택 구현. 어...? 랜덤으로 생성되게 하면 어떨까? 애시당초에 말야.</li>
<li>ssl 인증. 아무래도 힘드니.. 오라클 무료서버같은 거 받아서 여기에 도메인 물린 후 nginx 등에서 리버스프록시나 리다이렉팅 써서 원래 서버로 보내주면 될듯...!</li>
<li>설문 제목 하위에 설문에 대한 설명도 넣을 수 있게 하자.+설명문 객체도 만들게끔?(페이지를 겸해서)</li>
<li>설문 통계에서 나중에 답한 답이 나중에 나오게 할 수 있을까?</li>
<li>추세선(선형, 지수, 로그 등)과 오차막대 그리는 등 데이터분석에 대한 기능이 필요할듯.</li>
<li>워드클라우드 분석기 만들자. 역시, 자료는 엑셀로 받는 게 좋겠지?.</li>
<li>학교 앱의 공지와 과제는 하나로 통합하면 좋을듯.</li>
<li>과학활동에 대한 게시판도 있으면 좋을듯.(과목, 수준, 관련개념(태그), 창의성요소, 많이하는실수, 준비물 등등. + 학생 유인물)</li>
<li>라스트 로그인 구현하는 것도 좋을듯. 오래된 계정 삭제를 위해서.</li>
<li>학교 년수가 지나도 계속 승계되는 학교 정보들이 있으면 좋을듯.</li>
<li>학급에서 교사가 아닌데 과제나 공지 올리기가 된다. 수정하기.</li>
<li>시험점수는 공지가 아니라 따로 만들어볼까? 시험객체가 교과객체로 연결되게끔.</li>
<li>공지할 학급을 정해서 전체공지 등이 가능하게 하면 좋겠는걸?</li>
<li>학교 만들기. 학교명과 연도. 코드는 틀리지 않게 2회 입력하게 하자. 비밀번호 폼으로. 아니, 이메일 인증으로 진행하게 할까.</li>
<li>대회 정보 게시판에서 수상정보, 제출물, 제출기한 등 필요정보 담을 수 있게 준비해보자.</li>
<li>수식입력</li>
<li>좋아요 객체. 좋아요 날짜도 구현해보자.(추후 수익을 나누게 되면.)</li>
<li>댓글 신고기능. 댓글에서 모달을 불러오게 하면 될듯.</li>
<li>댓글에서 사용자 불러오기</li>
<li>흠... 언젠가 학교 과목도 교사 등록처럼 '이름, 과목명, 구분자'를 엑셀로 받아서 관리자가 한번에 만들게 해도 괜찮을듯.</li>
<li>http로 들어가는 비동기 통신 https에서도 가능하게 변형</li>

-------포기한 기능--------

-------완료-----
<li>ai사용 시에 특정 학생만 선택하여 ai에 넣을 수 있도록(23.12.8).</li>
<li>설문조사 할 때 자기에게 주어진 것만 설문하도록(submit이 만들어질 때 이미 완료되었을 터).</li>
<li>ai 사용 시에 빚, 포인트 사용 만들자.(23.12.8)</li>
<li>gpt-4-turbo 반영.(23.11.22)</li>
<li>예상 금액 계산 구현.(23.11.22)</li>
<li>동료평가에서 비매너 댓글 선정, 통계에서 볼 수 있게 반영.(23.11.5)</li>
<li>GPT에게 생기부 초안을 요구할 때. 주어를 빼기, 모든 문장은 ~함, ~임 형태로 나타내기. 등 기초 프롬프트 완성(23.10.30)</li>
<li>gpt api를 사용하기 위한 사전작업 얼추 완성함. 데이터를 엑셀로 오가게 구성 완료.(23.10.27)</li>
<li>동료 평가 시스템 + 불성실 답변 선택 기능... 드디어 마무리....!(23.10.25)</li>
<li>태그 기입 시 , 으로 끝나면 공백태그가 추가됬는데, 이를 없애도록 조정.(23.10.6)</li>
<li>설문에 임할 때 로그인 안한 사람도 할 수 있게끔, 혹은 회원만 하게끔 구성하는 게 좋을듯. 링크를 그대로 전달하는 경우가 있음.(23.9.20)</li>
<li>과제 복사기능 생성(23.8.23)</li>
<li>로그인 할 때 성공하고 나면 첫화면으로 이동하는데, cookie 따위에 주소를 저장했다가 돌아가게 하면 어떨까? 아니면 세션에..(로그아웃에서도)
    | 장고의 로그인 화면 자체를 만져야 해서 귀찮다.
    흠.. 데코레이터 상속 따위로 만들어볼 수 있지 않을까...??(23.08.04)
</li>
<li>설문조사.. 기초 설문과, 기존설문 수정하기와, 특수설문 만들기...를 분할해서 엮는 게 좋을듯. 진짜 오래걸렸다;;;(23.6.9)</li>
<li>시험점수 확인 등수 보여주고, 그래프에서 최하점 포함 안되는 거 최하점 이상이 되게끔 구현해보자.(23.5.10)</li>
<li>공지사항 아이들이 보기 쉬운 UI가 되게 바꾸어보자.(표로 깔끔하게 정리함.)(23.5.10)</li>
<li>plotly로 인터렉티브 그래프를 HTML로 내보낼 수도 있는듯..! 그냥 새 창에 바로 띄우게 하면 별다른 처리 안해도 됨. render가 아니라 html을 바로 내보내는 함수가 있었는데..(23.2.10)</li>
<li>matplotlib에서 한글폰트 적용이 안되어 애먹음;; 이유는 모르겠지만 됨;;(23.1.19)</li>
<li>데이터 선형 회귀분석도 작성해보자.(23.1.18)</li>
<li>엑셀로 데이터 올려서 상관도 분석하는 것도 좋을듯??(23.1.16)</li>
<li>엑셀 맞춤법 검사에서. 샐러리를 이용해 엑셀 전체 셀 갯수 세고, 진행 정도를 완료갯수로 표현하면 될듯. 모델 만들어서.(23.1.14)</li>
<li>샐러리를 통한 비동기작업 성공. 맞춤법 검사를 진행했다.(23.1.13)</li>
<li>비밀번호 바꿀 때 인증...이 있으면 좋겠다. 쿠키를 등록해서 진행하도록.->회원정보 변경 시 이메일 인증을 거치게 변경(23.1.9)</li>
<li>아이들이 아이디와 비밀번호를 잊는다... 등록한 학생의 계정명이 뜨게 하고, 학생 초기화 버튼을 만드는 게 좋겠다...(22.12.13)</li>
<li>학교정보 수정기능 구현.(22.12.6)</li>
<li>학교 개설 구현. 권한은 나중에 고안해보고... 개설시 교직원 게시판 생성도 동시에 이루어지게끔.(22.12.5)</li>
<li>페이스북 로그인 구현!(22.12.2)</li>
<li>SSL인증 후 구글 로그인 구현!(22.12.1)</li>
<li>소셜계정에서 정보 표시할 때 계정정보 없으면 get에러 뜨는 현상 수정.(22.11.26)</li>
<li>시간표 정보 가져옴.(22.11.25)</li>
<li>급식정보 가져옴.(22.11.24)</li>
<li>과목코드 수정이 되게끔.(22.11.16)</li>
<li>공식 성적이 올라가도 비공식 과목에 대해선 올릴 수 있도록 하자.(22.11.15)</li>
.<li>시험 급간 통계를 그래프로 표현.(22.11.10)</li>
<li>시험 응답내역 양식 안에 이미 제출된 응답내역이 들어있게끔 반영.(22.11.9)</li>
<li>점수통계에서 백분위 계산.(22.11.1)</li>
<li>계정연동 안하고 그냥 링크를 다시 누르는 경우가 있어서... 접근 못하게 정리해야겠다..(22.10.27) 완벽하진 않지만.. 경고는 된다.</li>
<li>학생응답까지 올릴 때 배점에 따라 점수 자동 계산.(22.10.14)</li>
<li>교사라면 올린 답안을 볼 수 있게 하면 어떨까? 행고정 느낌으로 진행되게 해야겠네.(22.10.14)</li>
<li>학생 등록 하면 학생 인증 안뜨게 해보자.(22.10.14)</li>
<li>정식 이용자가 아니더라도 점수확인이 되게끔. 기관관리자가 코드를 랜덤이 아니라, 지정할 수 있게끔 해보자.(22.10.13)</li>
<li>각 시험에 대하여 OMR에 대하여 자신의 응답과 정답 확인할 수 있게 해보자.(22.10.05)</li>
<li>엑셀파일 내보낼 때 셀 색을 지정해 보낼 수 있남!? 식별성을 위해 필요할듯.(22.10.12)</li>
<li>전체 관리자가 학생들 교실에 넣는 과정 구현.(22.10.5)</li>
<li>시험점수 공유 게시판에서 교사가 공식 점수를 올리는 기능 필터로 추가.(22.10.5)</li>
<li>시험점수 통계내기 구현.</li>
<li>시험점수 관리자가 실제 점수 주기 구현.</li><li>추후 서버에 반영하기 전에 학생 모델 다 지워버리자 + 교사모델도 지워버리자. + 교실, 교과도 지우고 다시!(22.9.30)</li>
<li>학생, 교사여부 체크 클래스 구현.(22.9.29)</li>
<li>학생 코드 부여하기 구현.(22.9.29)</li>
<li>학년반 외에 여러 교실을 구현하려면.. 학생이 지정되는 homeroom이 manytomany가 되어야 하지 않나?(22.9.29)</li>
<li>액셀 form을 내보낼 때 관련 데이터가 있다면 그것들도 함께 내보내게끔 하자.(22.9.28)</li>
<li>시험에서 학생프로필이 있는 경우 학번 변경하지 못하게. 혹은 기존 프로필과 이어버리게.(22.9.28)</li>
<li>건의사항에서 신고자 이름 변경하지 못하게.(22.9.27)</li>
<li>시험점수 공유 점수 공유하기 구현.(22.9.25)</li>
<li>시험점수 공유 기본 게시판 구현.(22.9.20)</li>
<li>학생이 과제 제출하는 기능.(22.9.8)</li>
<li>개별공지에서 응답도 받게 하면 어떨까? 과제로 활용할 수도 있을듯. 아니, 그냥 두 모델을 만들었다.(22.9.7)</li>
<li>학교 코드가 아니라, 학교 관리자에 추가되면 교과교실 생성할 수 있게 하자.(22.9.6)</li>
<li>공지 생성하고... 개별공지 때림.(22.9.2)</li>
<li>학급에서 학생 인증 진행해보자.(22.9.1)</li>
<li>교사 프로필을 생성시키자. 아니, 학생 공통으로 사용하는 프로필 생성이 낫나? 구분했다.(22.8.31)</li>
<li>소유학교에서 학급 생성.(22.8.30)</li>
<li>학교 기능, 소유한 학교, 학급, 교과교실 띄우기.(22.8.29)</li>
<li>신고 기능 구현. 새 창에서 열게 하면 될듯. 건의사항 게시판에 글이 써지게끔 구성하면 좋겠다. 게시글 신고 기능 구현(22.8.1)</li>
<li>탬플릿 base 탬플릿 틀을 두고, 각 게시판마다 내용만 채우도록 구성하면 어떨까? 전체적인 구조 변현을 많이 해야 할듯. 완전히 내용물만 컨셉별로 다른 탬플릿으로 다루게끔 정리정돈하자. 반가운 부작용. 삭제 후 리다이렉션이 간편해졌다...!(노티피케이션도 덩달아;) 역시 처음 디자인이 중요해;;;(22.7.23)</li>
<li>건의사항 구현.(22.7.23)</li>
<li>노티, 읽은 것과 읽지 않은 것 구분하기.(22.7.22)</li>
<li>알림창 알림 7개만 보여주기.(22.7.22) + 전체 알림 페이지 페이지네이션?(하지 말자.) + 오래된 알림 지우기?(건의가 생기면 지우자.)</li>
<li>게시판 카테고리에 따라 탬플릿을 자동으로 선택할 수 있게끔 지정하자..(22.7.21)</li>
<li>댓글 갯수에 따른 페이징.(22.7.20)</li>
<li>게시판에 게시글을 작성하면 관심자들에게 알림 쏘기(22.7.19) + 리다이렉트 주소를 지정하기가.. 어렵다. 게시판 카테고리를 정해서 template를 다른 걸 사용하게 하면 어떨까?(22.7.21)</li>
<li>게시글에 댓글 작성하면 관심자들에게 알림 쏘기.(22.7.17) + 리다이렉트 주소 지정(22.7.18)</li>
<li>email인증같은거 할 때 로컬에서 개발할 때랑 서버에서 보낼 때 주소를 달리 해야 하는데... 현재 서비스하는 도메인의 주소를 얻는 방법이 있을까? secreet.py로 분리(22.7.10)</li>
<li>email 보내기(22.7.15) + 인증...은 왜 안되는 걸까..? 에러나는데.. 쿠키문제 해결(22.7.16)</li>
<li>게시판 삭제 구현(22.7.13)+게시글이 있으면 안지워지게(22.7.14) + 게시글 댓글 있으면 안지워지게 구현(22.7.14)</li>
<li>board, posting 모델도 일반적으로 사용할 수 있게 int, contents 따위의 이름으로 바꾸는 게 좋겠다.(22.7.9)</li>
<li>게시글 댓글 구현(22.5.20)</li>
<li>태그 구현(22.5.9) + 태그로 엮인 객체 만들기.(22.5.10) + 태그 삭제 기능(22.6.30)</li>
<li>추천 구현(22.6.1), 비추천 구현(22.7.1)</li>
<li>관심게시물, 게시판 버튼 구현(22.7.14)</li>

{% endblock content %}
