{%extends "main/section.html"%}

{% block content %}
할 일 목록
<li>회원정보 수정기능</li>
<li>시험점수는 공지가 아니라 따로 만들어볼까? 시험객체가 교과객체로 연결되게끔.</li>
<li>합격컷 예상 커뮤니티.(점수공유)</li>


<li>학교 만들기. 학교명과 연도. 코드는 틀리지 않게 2회 입력하게 하자. 비밀번호 폼으로. 아니, 이메일 인증으로 진행하게 할까.</li>
<li>소유학교 비밀코드 수정. 원래 코드 만들고 바꿀 코드 2회 입력하게 하자. 비밀번호 폼으로.</li>
<li>대회 정보 게시판에서 수상정보, 제출물, 제출기한 등 필요정보 담을 수 있게 준비해보자.</li>
<li>수식입력</li>
<li>댓글 신고기능. 댓글에서 모달을 불러오게 하면 될듯.</li>
<li>댓글에서 사용자 불러오기</li>
-------포기한 기능--------
<li>로그인 할 때 성공하고 나면 첫화면으로 이동하는데, cookie 따위에 주소를 저장했다가 돌아가게 하면 어떨까? 아니면 세션에..(로그아웃에서도) | 장고의 로그인 화면 자체를 만져야 해서 귀찮다.</li>

-------완료-----
<li>시험점수 공유 기본 게시판 구현.(22.9.20)</li>
<li>학생이 과제 제출하는 기능.(22.9.8)</li>
<li>개별공지에서 응답도 받게 하면 어떨까? 과제로 활용할 수도 있을듯. 아니, 그냥 두 모델을 만들었다.(22.9.7)</li>
<li>학교 코드가 아니라, 학교 관리자에 추가되면 교과교실 생성할 수 있게 하자.(22.9.6)</li>
<li>공지 생성하고... 개별공지 때림.(22.9.2)</li>
<li>학급에서 학생 인증 진행해보자.(22.9.1)</li>
<li>교사 프로필을 생성시키자. 아니, 학생 공통으로 사용하는 프로필 생성이 낫나? 구분했다.(22.8.31)</li>
<li>소유학교에서 학급 생성.(22.8.30)</li>
<li>학교 기능, 소유한 학교, 학급, 교과교실 띄우기.(22.8.29)</li>
<li>신고 기능 구현. 새 창에서 열게 하면 될듯. 건의사항 게시판에 글이 써지게끔 구성하면 좋겠다. 게시글 신고 기능 구현(22.8.1)</li>
<li>탬플릿 base 탬플릿 틀을 두고, 각 게시판마다 내용만 채우도록 구성하면 어떨까? 전체적인 구조 변현을 많이 해야 할듯. 완전히 내용물만 컨셉별로 다른 탬플릿으로 다루게끔 정리정돈하자. 반가운 부작용. 삭제 후 리다이렉션이 간편해졌다...!(노티피케이션도 덩달아;) 역시 처음 디자인이 중요해;;;(22.7.23)</li>
<li>건의사항 구현.(22.7.23)</li>
<li>노티, 읽은 것과 읽지 않은 것 구분하기.(22.7.22)</li>
<li>알림창 알림 7개만 보여주기.(22.7.22) + 전체 알림 페이지 페이지네이션?(하지 말자.) + 오래된 알림 지우기?(건의가 생기면 지우자.)</li>
<li>게시판 카테고리에 따라 탬플릿을 자동으로 선택할 수 있게끔 지정하자..(22.7.21)</li>
<li>댓글 갯수에 따른 페이징.(22.7.20)</li>
<li>게시판에 게시글을 작성하면 관심자들에게 알림 쏘기(22.7.19) + 리다이렉트 주소를 지정하기가.. 어렵다. 게시판 카테고리를 정해서 template를 다른 걸 사용하게 하면 어떨까?(22.7.21)</li>
<li>게시글에 댓글 작성하면 관심자들에게 알림 쏘기.(22.7.17) + 리다이렉트 주소 지정(22.7.18)</li>
<li>email인증같은거 할 때 로컬에서 개발할 때랑 서버에서 보낼 때 주소를 달리 해야 하는데... 현재 서비스하는 도메인의 주소를 얻는 방법이 있을까? secreet.py로 분리(22.7.10)</li>
<li>email 보내기(22.7.15) + 인증...은 왜 안되는 걸까..? 에러나는데.. 쿠키문제 해결(22.7.16)</li>
<li>게시판 삭제 구현(22.7.13)+게시글이 있으면 안지워지게(22.7.14) + 게시글 댓글 있으면 안지워지게 구현(22.7.14)</li>
<li>board, posting 모델도 일반적으로 사용할 수 있게 int, contents 따위의 이름으로 바꾸는 게 좋겠다.(22.7.9)</li>
<li>게시글 댓글 구현(22.5.20)</li>
<li>태그 구현(22.5.9) + 태그로 엮인 객체 만들기.(22.5.10) + 태그 삭제 기능(22.6.30)</li>
<li>추천 구현(22.6.1), 비추천 구현(22.7.1)</li>
<li>관심게시물, 게시판 버튼 구현(22.7.14)</li>
{% endblock content %}
