<h5 class="border-bottom my-3 py-2">{{posting.answer_set.count}}개의 댓글이 있습니다.</h5>
<div class="mt-3"><!-- 댓글_1을 담기 위한 공간. 너무 많아서.. 따로 처리하는 것도 좋을듯;-->
    {% for answer in posting.answer_set.all %}
    <div class="card my-3" id="answer_{{answer.id}}"> <!-- 댓글_1등록 후 해당 댓글_1으로 오게 하기 위한 앵커 -->
        <div class="card-body">
            <span class=".bg-info.bg-gradient" style="--bs-bg-opacity: .2;">
                {{ answer.content }}
            </span>
            <span class="badge text-bg-light">
                    {{ answer.author.nickname }}
                    {{ answer.create_date }}
                {% if user == answer.author %}<!--댓글_1 작성자에게만 보이게끔.-->
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
                data-uri="{% url 'boards:answer_delete' answer.id  %}">삭제</a>
                {% endif %}
            </span>


            <div>

        </div>
    </div>

            <!--대댓글 기능!-->
        {% if answer.comment_set.count > 0 %}
            <div id="comment_area_{{ answer.id }}" class="px-5">
            {% for comment in answer.comment_set.all %}<!--댓글객체에서 대댓글 객체를 뽑아낸다.-->
                {% include "boards/base/comment_shape.html" %}
            {% endfor %}
            </div>
        {% endif %}
        <div>
            {% include "boards/base/comment_create.html" %}
        </div>
</div>

    {% endfor %}


<script>
function show_comment_input_area_(id){
    $("#comment_input_area_"+id).show();
    $("#commet_add_"+id).hide();
    console.log("댓글칸"+id)
    }

function comment_create(id,url) {
    console.log(url)
    let content = document.getElementById("comment_input_area"+id).value;
    console.log(content)
    if(content.length > 150){
        alert('댓글은 150자까지. 현재 글자수 : ' + content.length);
        return;
    }
    window.location.href="url"
}
</script>


<!--댓글_1등록을 위한 것---------------------------------------------------------------->
    댓글 추가하기
<form action="{% url 'boards:answer_create' posting.id %}?next={{request.path}}"
      method="post" {% include "custom_account/login_modal_in_html.html" %}>
{% csrf_token %}
<!--폼에러를 나타내기 위한 것-->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <!--댓글_1등록을 위한 칸---->
        <div class="form-group" {% if user.is_authenticated %}{% else %}data-toggle="modal" data-target="#loginModal"{% endif %}>
            <textarea class="form-control" name="content" placeholder="1~300자까지. 안맞으면 에러남."
            id="content" rows="2">{{ form.content.value|default_if_none:'' }}</textarea>
            <input type="submit" class="btn btn-outline-info" value="댓글등록">
        </div>
</form>