<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role='dialog' aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">신고합니다~!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


<!--- 폼 처리-------------------------------------->
<form method="post" class="post-form my-3" action="{% url 'boards:report_user' %}">
    {% csrf_token %}
    <div class="form-group">
<div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="boolean_1" id="boolean_1"
             value="true" {% if form.boolean_1.value == False %}{%else%}checked{%endif%}>
      <label class="form-check-label" for="boolean_1">누가 썼는지 공개하나요?</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="boolean_2" id="boolean_2"
             value="true" {% if form.boolean_2.value == False %}{%else%}checked{%endif%}>
      <label class="form-check-label" for="boolean_2">본문을 다른 사람들이 읽을 수 있게 하나요?</label>
    </div>
</div>
       <label>신고대상</label>
   <input class="form-control" name="report_user" id="report_user" value="{{ form.report_user.value|default_if_none:'' }}">

        <label>제목</label>
    <input type="text" class="form-control" name="subject" id="subject"
                       value="{{ form.subject.value|default_if_none:'' }}" placeholder="제목을 입력해주세요~">

        <label>내용</label>
    <textarea type="text" class="form-control" name="content" id="content" value="{{ form.content.value|default_if_none:'' }}"
              placeholder="어떤 걸로 신고하고 싶으신가요?"></textarea>

    <label>관련링크</label>
    <input type="text" class="form-control" name="source" id="source"
    value = "{{ form.source.value|default_if_none:'' }}" placeholder="신고 관련 링크를 기입해주세요~">

    </div>
    <input type="submit" class="btn btn-primary" value='등록'>
</form>


<!-- 모달 아랫부분----------------------------------->
      </div>
      <div class="modal-footer">
          깨끗하고 아름다운 환경을 위하여~!
      </div>
    </div>
  </div>
</div>

<script>
  function reportUser(user) {
    console.log('신고버튼');
    report_user=document.querySelector('#report_user');  // 모달 내부의 신고자 데이터를 보여줄 곳.
    console.log(user);
    report_user.value=user;
    here=document.querySelector('#source');
    here.value=document.location.href;
    console.log(document.location.href);
  };
</script>