{% extends 'utility/common.html' %}

{% block content %}


<div class="card my-3">
    <div class="card-body">

    <table class="table table-hover" id="table">
    <thead>
    <tr class="thead-dark">
        <th>프로젝트</th>
        <th>코멘트</th>
        <th>완성일자</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'utility:compound_interest' %}">compound_interest</a></td>
            <td>복리계산기.</td>
            <td>21.12.30</td>
        </tr>
        <tr>
            <td><a href="{% url 'chat:index' %}">chat_lobby</a></td>
            <td>방 이름을 입력해서 채팅.(channel 공식 메뉴얼을 따라)</td>
            <td>22.10.30</td>
        </tr>
        <tr>
            <td><a href="{% url 'utility:mental_health_chatroom' %}">mental_health_chatbot</a></td>
            <td>심리상담 챗봇을 채팅처럼 구현.</td>
            <td>22.11.10</td>
        </tr>
        <tr>
            <td><a href="{% url 'utility:translate_ko_en' %}">translate_ko_en</a></td>
            <td>translate 라이브러리를 사용한 번역. 처음엔 한국어에서 영어만 지원했으나, 언어 추가.</td>
            <td>22.11.14</td>
        </tr>
        <tr>
            <td><a href="{% url 'utility:korean_spell' %}">korean_spell</a></td>
            <td>부산대학교 맞춤법 검사기. https://hleecaster.com/speller-cs-pusan-ac-kr/를 참고하여 제작함.</td>
            <td>22.11.18</td>
        </tr>
        <tr>
            <td><a href="{% url 'utility:data_analysis_main' %}">데이터 분석</a></td>
            <td>상관도분석과 회귀분석 등 데이터에 대한 분석. 23년 1월에 있었던 강원사대부고 이중엽 선생님 연수를 듣고 아이디어를 얻어 제작하기 시작함.</td>
            <td>23.1.15</td>
        </tr>
        <tr>
            <td><a href="{% url 'utility:wordcloud_main' %}">워드 클라우드 그리기</a></td>
            <td>(패키지 설치 에러 문제로 미완성.)명사만 추출하여 워드 클라우드를 그린다.</td><td>23.2.6</td>
        </tr>
    </tbody>
    </table>
    </div>
</div>






{% endblock content%}